<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.cmsystem.mapper.ComplaintsMapper">
    <resultMap id="BaseResultMap" type="com.smart.cmsystem.domain.entity.Complaints">
        <!--@mbg.generated-->
        <!--@Table t_complaints-->
        <id column="complaint_id" jdbcType="INTEGER" property="complaintId"/>
        <result column="owner_id" jdbcType="INTEGER" property="ownerId"/>
        <result column="owner_name" jdbcType="VARCHAR" property="ownerName"/>
        <result column="c_cellid" jdbcType="INTEGER" property="cCellid"/>
        <result column="c_community" jdbcType="VARCHAR" property="cCommunity"/>
        <result column="c_name" jdbcType="VARCHAR" property="cName"/>
        <result column="c_detail" jdbcType="VARCHAR" property="cDetail"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="c_status" jdbcType="INTEGER" property="cStatus"/>
        <result column="is_del" jdbcType="INTEGER" property="isDel"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        complaint_id, owner_id, owner_name, c_cellid, c_community, c_name, c_detail, create_time,
        c_status, is_del
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_complaints

        <trim prefix="where">
            <if test="keyword != null and keyword != ''">
                owner_name like '%${keyword}%'
                or c_community like '%${keyword}%'
                or c_name like '%${keyword}%'
            </if>
            <if test="start_time != null and end_time != null">
                and create_time between #{start_time} and #{end_time}
            </if>
            <if test="start_time != null and end_time == null">
                and create_time > #{start_time}
            </if>
            <if test="start_time == null and end_time != null">
                and #{end_time}> create_time
            </if>
        </trim>
    </select>
    <update id="deleteComplaintsById">
        UPDATE t_complaints
        SET is_del=1
        WHERE complaint_id
        IN
        <foreach collection="comIds" item="comId" open="(" close=")" separator=",">
            #{comId}
        </foreach>
        AND is_del=0;
    </update>
    <sql id="Insert_List">
        owner_id,owner_name,c_cellid,c_community,c_name,c_detail,c_status
    </sql>
    <insert id="saveComplaint">
        INSERT INTO t_complaints(<include refid="Insert_List"/>)
        VALUES (#{complaints.ownerId},
        #{complaints.ownerName},
        #{complaints.cCellid},
        #{complaints.CCommunity},
        #{complaints.CName},
        #{complaints.CDetail},
        #{complaints.CStatus})
    </insert>
    <update id="updateComplaint">
        UPDATE t_complaints
        <trim prefix="set" suffixOverrides=",">
            <if test="complaints.cCommunity != null ">
                c_community=#{complaints.CCommunity}
                ,complaint_id=#{complaints.complaintId},
            </if>
            <if test="complaints.cName!=null">
                c_name=#{complaints.cName},
            </if>
            <if test="complaints.cDetail=null">
                c_detail=#{complaints.cDetail},
            </if>
            <if test="complaints.CStatus!=null">
                c_status=#{complaints.CStatus},
            </if>
        </trim>
        Where complaint_id=#{complaints.complaintId}
    </update>


</mapper>