<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.cmsystem.mapper.DoShuMapper">
  <resultMap id="BaseResultMap" type="com.smart.cmsystem.domain.entity.DoShu">
    <!--@Table doshu-->
    <id column="d_id" jdbcType="INTEGER" property="dId" />
    <result column="d_coumity_name" jdbcType="VARCHAR" property="dCoumityName" />
    <result column="d_coding" jdbcType="VARCHAR" property="dCoding" />
    <result column="d_name" jdbcType="VARCHAR" property="dName" />
    <result column="d_sum" jdbcType="INTEGER" property="dSum" />
    <result column="d_txt" jdbcType="VARCHAR" property="dTxt" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ending_time"  jdbcType="TIMESTAMP" property="endingTime" />
    <result column="d_status" jdbcType="INTEGER" property="dStatus" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>

<!--  插入-->
  <insert id="insert"  >
    <!--@mbg.generated-->
    insert into doshu(doshu.d_coumity_name,doshu.d_coding,doshu.d_name,
    doshu.d_sum,doshu.d_txt)
    values(#{doShu.dCoumityName},#{doShu.dCoding},#{doShu.dName},#{doShu.dSum},#{doShu.dTxt})

  </insert>
<!--  修改-->
  <update id="update">
    update  group8cmsystem.doshu
    set  doshu.d_status=1,
      doshu.d_coumity_name=#{doShu.dCoumityName},
    doshu.d_coding=#{doShu.dCoding},
    doshu.d_name=#{doShu.dName},
    doshu.d_sum=#{doShu.DSum},
    doshu.d_txt=#{doShu.dTxt}
    where doshu.d_id=#{doShu.DId}
  </update>
<!--  删除-->
  <update id="delete">
    update  group8cmsystem.doshu
    set doshu.is_del=1
    where doshu.d_id=#{dId}
  </update>
<!-- 批量删除-->
  <update id="deleteDoShus">
    update  group8cmsystem.doshu
    set is_del=1
    where doshu.d_id IN
    <foreach collection="dIds" separator="," open="(" close=")" item="dId">
      #{dId}
    </foreach>
 and  doshu.is_del=0
  </update>
<!--  查找-->
  <select id="selectAll" resultMap="BaseResultMap">
    select  *
    from  group8cmsystem.doshu
    where
    <trim prefixOverrides="AND">
      <if test="keyWord != null">
        d_coumity_name like concat('%',#{keyWord},'%')
         or  d_coding like  concat('%',#{keyWord},'%')
       or d_name like concat('%',#{keyWord},'%')
        or d_sum like concat('%',#{keyWord},'%')
        or d_txt  like concat('%',#{keyWord},'%')
      </if>
    <if test="create_time != null and ending_time != null" >
      and create_time between #{create_time} AND #{ending_time}
    </if>
      <if test="create_time != null">
        and     create_time = #{create_time,jdbcType=TIMESTAMP}
      </if>
      <if test="ending_time != null">
        and ending_time =#{ending_time,jdbcType=TIMESTAMP}
      </if>
    </trim>
    LIMIT  #{limit},#{offset}
  </select>
</mapper>