<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.cmsystem.mapper.HousingMapper">
  <resultMap id="BaseResultMap" type="com.smart.cmsystem.domain.entity.Housing">
    <!--@mbg.generated-->

    <id column="h_id" jdbcType="INTEGER" property="hId" />
    <result column="h_coumity_name" jdbcType="VARCHAR" property="hCoumityName" />
    <result column="h_d_name" jdbcType="VARCHAR" property="hDName" />
    <result column="h_conding" jdbcType="VARCHAR" property="hConding" />
    <result column="h_name" jdbcType="VARCHAR" property="hName" />
    <result column="h_owner_name" jdbcType="VARCHAR" property="hOwnerName" />
    <result column="h_own_phone" jdbcType="VARCHAR" property="hOwnPhone" />
    <result column="h_home" jdbcType="INTEGER" property="hHome" />
    <result column="h_cell" jdbcType="INTEGER" property="hCell" />
    <result column="h_level" jdbcType="INTEGER" property="hLevel" />
    <result column="h_txt" jdbcType="VARCHAR" property="hTxt" />
    <result column="create_time"  jdbcType="TIMESTAMP" property="createTime" />
    <result column="ending_time"  jdbcType="TIMESTAMP" property="endingTime" />
    <result column="h_status" jdbcType="INTEGER" property="hStatus" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>
<!--  插入操作-->
  <insert id="insert">
    <!--@mbg.generated-->
    insert into housing (h_coumity_name, h_d_name,housing.h_conding,
    h_name, h_owner_name, h_own_phone,
    h_home, h_cell, h_level,h_txt)
    values (#{housing.HCoumityName}, #{housing.hDName} ,#{housing.HConding},
    #{housing.hName}, #{housing.hOwnerName}, #{housing.hOwnPhone},
    #{housing.hHome}, #{housing.hCell}, #{housing.hLevel},
    #{housing.hTxt})
  </insert>
<!--修改操作-->
  <update id="update" parameterType="com.smart.cmsystem.domain.entity.Housing">
    <!--@mbg.generated-->
    update housing
    set housing.h_status=1,
    h_coumity_name = #{housing.hCoumityName},
    h_d_name = #{housing.hDName},
    housing.h_conding=#{housing.HConding},
    h_name = #{housing.hName},
    h_owner_name = #{housing.hOwnerName},
    h_own_phone = #{housing.hOwnPhone},
    h_home = #{housing.hHome},
    h_cell = #{housing.hCell},
    h_level = #{housing.hLevel},
    create_time =#{housing.createTime},
    h_txt = #{housing.hTxt},
    ending_time =#{housing.endingTime}
    where h_id = #{housing.hId}
  </update>
<!--  单个删除-->
  <update id="delete">
    update group8cmsystem.housing
    set  housing.is_del=1
      where h_id =#{hId}
  </update>
<!--  批量删除-->
  <update id="deleteHousing" >
    update  group8cmsystem.housing
    set  is_del=1
    WHERE h_id IN
    <foreach collection="hIds" separator="," open="(" close=")" item="hId">
      #{hId}
    </foreach>
    and is_del=0
  </update>
<!--  查找-->
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from group8cmsystem.housing
    where
    <trim  prefixOverrides="AND">
      <if test ="keyWord != null and keyWord != ''">
        h_coumity_name like concat('%',#{keyWord},'%')
        or  h_d_name like concat('%',#{keyWord},'%')
        or h_conding like  concat('%',#{keyWord},'%')
       or h_name like concat('%',#{keyWord},'%')
        or h_owner_name like concat('%',#{keyWord},'%')
        or h_own_phone like concat('%',#{keyWord},'%')
        or h_home like concat('%',#{keyWord},'%')
        or   h_cell like concat('%',#{keyWord},'%')
        or  h_level like concat('%',#{keyWord},'%')
      </if>
      <if test="create_time != null and ending_time != null" >
     and    create_time between #{create_time} AND #{ending_time}
      </if>
      <if test="create_time != null">
    and     create_time = #{create_time,jdbcType=TIMESTAMP}
      </if>
<if test="ending_time != null">
   and ending_time =#{ending_time,jdbcType=TIMESTAMP}
</if>
    </trim>
    LIMIT  #{limit},#{offset}
  </select>
</mapper>