<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.cmsystem.mapper.MaintainMapper">
  <resultMap id="BaseResultMap" type="com.smart.cmsystem.domain.entity.Maintain">
    <!--@mbg.generated-->
    <!--@Table maintain-->
    <id column="maintain_id" jdbcType="INTEGER" property="maintainId" />
    <result column="community" jdbcType="VARCHAR" property="community" />
    <result column="repairee" jdbcType="VARCHAR" property="repairee" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_del" jdbcType="INTEGER" property="isDel"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    maintain_id, community, repairee, device_name, description, create_time, `status`,is_del
  </sql>


  <select id="selectAllByKey" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"></include>
    FROM maintain
    <trim prefix="where" prefixOverrides="and">
      <if test="keyword != null and keyword != ''">
        community like concat('%',#{keyword},'%')
        or repairee like concat('%',#{keyword},'%')
        or device_name like concat('%',#{keyword},'%')
      </if>
      <if test="start_time != null and end_time != null">
        and create_time between concat('#{start_time}',' 00:00:00') and  concat('#{end_time}',' 23:59:59')
      </if>
      <if test="start_time!=null and end_time==null">
        and create_time > concat('#{start_time}',' 00:00:00')
      </if>
      <if test="end_time!=null and start_time == null">
        and   concat('#{end_time}',' 23:59:59') > create_time
      </if>
    </trim>
    LIMIT #{limit},#{offset};
  </select>
  <update id="deleteMaintain">
    update maintain
    set is_del=1
    where maintain_id in
    <foreach collection="mIds" item="mId" open="(" close=")" separator=",">
      #{mId}
    </foreach>
    and is_del=0;
   </update>


  <sql id="Insert_List">
    community,repairee,device_name,status,description
  </sql>

  <insert id="insertMaintain">
    INSERT INTO maintain(<include refid="Insert_List"></include>)
    VALUES (#{maintain.community},#{maintain.repairee},#{maintain.deviceName},#{maintain.status},#{maintain.description})
  </insert>

  <update id="updateMaintain">
    update maintain
    <trim prefix="set" suffixOverrides="," >
        <if test="maintain.community != null and maintain.community != ''">
          community=#{maintain.community},
        </if>
      <if test="maintain.repairee != null and maintain.repairee != ''">
        repairee=#{maintain.repairee},
      </if>
      <if test="maintain.deviceName != null and maintain.deviceName != ''">
        device_name=#{maintain.deviceName},
      </if>
      <if test="maintain.description != null and maintain.description != ''">
        description=#{maintain.description},
      </if>
      <if test="maintain.status != null">
        status=#{maintain.status}
      </if>
    </trim>
    where  maintain_id=#{maintain.maintainId} AND is_del=0;
  </update>
</mapper>