<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.cmsystem.mapper.MoneyDetailMapper">
  <resultMap id="BaseResultMap" type="com.smart.cmsystem.domain.entity.MoneyDetail">
    <!--@mbg.generated-->
    <!--@Table moneydetail-->
    <id column="mon_det_id" jdbcType="INTEGER" property="monDetId" />
    <result column="mon_coumity_name" jdbcType="VARCHAR" property="monCoumityName" />
    <result column="mon_det_project" jdbcType="VARCHAR" property="monDetProject" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="mon_receivable" jdbcType="DECIMAL" property="monReceivable" />
    <result column="mon_final" jdbcType="DECIMAL" property="monFinal" />
    <result column="mon_text" jdbcType="VARCHAR" property="monText" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="mon_status" jdbcType="INTEGER" property="monStatus" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="mon_id" jdbcType="INTEGER" property="monId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    mon_det_id, mon_coumity_name, mon_det_project, owner_name, mon_receivable, mon_final, 
    mon_text, update_time, create_time, mon_status, is_del, mon_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from moneydetail
    where mon_det_id = #{monDetId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from moneydetail
    where mon_det_id = #{monDetId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="mon_det_id" keyProperty="monDetId" parameterType="com.smart.cmsystem.domain.entity.MoneyDetail" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into moneydetail (mon_coumity_name, mon_det_project, owner_name, 
      mon_receivable, mon_final, mon_text, 
      update_time, create_time, mon_status, 
      is_del, mon_id)
    values (#{monCoumityName,jdbcType=VARCHAR}, #{monDetProject,jdbcType=VARCHAR}, #{ownerName,jdbcType=VARCHAR}, 
      #{monReceivable,jdbcType=DECIMAL}, #{monFinal,jdbcType=DECIMAL}, #{monText,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{monStatus,jdbcType=INTEGER}, 
      #{isDel,jdbcType=INTEGER}, #{monId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="mon_det_id" keyProperty="monDetId" parameterType="com.smart.cmsystem.domain.entity.MoneyDetail" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into moneydetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="monCoumityName != null">
        mon_coumity_name,
      </if>
      <if test="monDetProject != null">
        mon_det_project,
      </if>
      <if test="ownerName != null">
        owner_name,
      </if>
      <if test="monReceivable != null">
        mon_receivable,
      </if>
      <if test="monFinal != null">
        mon_final,
      </if>
      <if test="monText != null">
        mon_text,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="monStatus != null">
        mon_status,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="monId != null">
        mon_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="monCoumityName != null">
        #{monCoumityName,jdbcType=VARCHAR},
      </if>
      <if test="monDetProject != null">
        #{monDetProject,jdbcType=VARCHAR},
      </if>
      <if test="ownerName != null">
        #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="monReceivable != null">
        #{monReceivable,jdbcType=DECIMAL},
      </if>
      <if test="monFinal != null">
        #{monFinal,jdbcType=DECIMAL},
      </if>
      <if test="monText != null">
        #{monText,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="monStatus != null">
        #{monStatus,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="monId != null">
        #{monId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smart.cmsystem.domain.entity.MoneyDetail">
    <!--@mbg.generated-->
    update moneydetail
    <set>
      <if test="monCoumityName != null">
        mon_coumity_name = #{monCoumityName,jdbcType=VARCHAR},
      </if>
      <if test="monDetProject != null">
        mon_det_project = #{monDetProject,jdbcType=VARCHAR},
      </if>
      <if test="ownerName != null">
        owner_name = #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="monReceivable != null">
        mon_receivable = #{monReceivable,jdbcType=DECIMAL},
      </if>
      <if test="monFinal != null">
        mon_final = #{monFinal,jdbcType=DECIMAL},
      </if>
      <if test="monText != null">
        mon_text = #{monText,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="monStatus != null">
        mon_status = #{monStatus,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="monId != null">
        mon_id = #{monId,jdbcType=INTEGER},
      </if>
    </set>
    where mon_det_id = #{monDetId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smart.cmsystem.domain.entity.MoneyDetail">
    <!--@mbg.generated-->
    update moneydetail
    set mon_coumity_name = #{monCoumityName,jdbcType=VARCHAR},
      mon_det_project = #{monDetProject,jdbcType=VARCHAR},
      owner_name = #{ownerName,jdbcType=VARCHAR},
      mon_receivable = #{monReceivable,jdbcType=DECIMAL},
      mon_final = #{monFinal,jdbcType=DECIMAL},
      mon_text = #{monText,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      mon_status = #{monStatus,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      mon_id = #{monId,jdbcType=INTEGER}
    where mon_det_id = #{monDetId,jdbcType=INTEGER}
  </update>
</mapper>