<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.cmsystem.mapper.PetsMapper">
  <resultMap id="BaseResultMap" type="com.smart.cmsystem.domain.entity.Pets">
    <!--@mbg.generated-->
    <!--@Table pets-->
    <id column="pets_id" jdbcType="INTEGER" property="petsId" />
    <result column="pets_pic" jdbcType="VARCHAR" property="petsPic" />
    <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
    <result column="pets_type" jdbcType="VARCHAR" property="petsType" />
    <result column="pets_color" jdbcType="VARCHAR" property="petsColor" />
    <result column="pets_remarks" jdbcType="VARCHAR" property="petsRemarks" />
    <result column="pets_adoption" jdbcType="DATE" property="petsAdoption" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pets_id, pets_pic, owner_id, pets_type, pets_color, pets_remarks, pets_adoption, 
    create_time, is_del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pets
    where pets_id = #{petsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from pets
    where pets_id = #{petsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="pets_id" keyProperty="petsId" parameterType="com.smart.cmsystem.domain.entity.Pets" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pets (pets_pic, owner_id, pets_type, 
      pets_color, pets_remarks, pets_adoption, 
      create_time, is_del)
    values (#{petsPic,jdbcType=VARCHAR}, #{ownerId,jdbcType=INTEGER}, #{petsType,jdbcType=VARCHAR}, 
      #{petsColor,jdbcType=VARCHAR}, #{petsRemarks,jdbcType=VARCHAR}, #{petsAdoption,jdbcType=DATE}, 
      #{createTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="pets_id" keyProperty="petsId" parameterType="com.smart.cmsystem.domain.entity.Pets" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pets
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="petsPic != null">
        pets_pic,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="petsType != null">
        pets_type,
      </if>
      <if test="petsColor != null">
        pets_color,
      </if>
      <if test="petsRemarks != null">
        pets_remarks,
      </if>
      <if test="petsAdoption != null">
        pets_adoption,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="petsPic != null">
        #{petsPic,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="petsType != null">
        #{petsType,jdbcType=VARCHAR},
      </if>
      <if test="petsColor != null">
        #{petsColor,jdbcType=VARCHAR},
      </if>
      <if test="petsRemarks != null">
        #{petsRemarks,jdbcType=VARCHAR},
      </if>
      <if test="petsAdoption != null">
        #{petsAdoption,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smart.cmsystem.domain.entity.Pets">
    <!--@mbg.generated-->
    update pets
    <set>
      <if test="petsPic != null">
        pets_pic = #{petsPic,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="petsType != null">
        pets_type = #{petsType,jdbcType=VARCHAR},
      </if>
      <if test="petsColor != null">
        pets_color = #{petsColor,jdbcType=VARCHAR},
      </if>
      <if test="petsRemarks != null">
        pets_remarks = #{petsRemarks,jdbcType=VARCHAR},
      </if>
      <if test="petsAdoption != null">
        pets_adoption = #{petsAdoption,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
    </set>
    where pets_id = #{petsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smart.cmsystem.domain.entity.Pets">
    <!--@mbg.generated-->
    update pets
    set pets_pic = #{petsPic,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=INTEGER},
      pets_type = #{petsType,jdbcType=VARCHAR},
      pets_color = #{petsColor,jdbcType=VARCHAR},
      pets_remarks = #{petsRemarks,jdbcType=VARCHAR},
      pets_adoption = #{petsAdoption,jdbcType=DATE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=INTEGER}
    where pets_id = #{petsId,jdbcType=INTEGER}
  </update>
</mapper>